* {
  margin: 0;
  padding: 0;
}

body {
  font: 1rem Arial, sans-serif;
  color: white;
  background-color: #8391ac;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
