.view-play form {
  width: 100%;
}

.view-play h3,
.view-play label {
  color: #5259a0;
}

.player-controls {
  margin: 0.25em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sound-label {
  width: 100px;
}

.sound-highlight {
  background-color: #4472bc;
  color: #eeeeee;
}

.player-controls .input-group {
  margin: 0.25em 0.25em;
}

.sound-button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.play-button-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-width: 200px;
}

.play-button-img {
  width: 45px;
}

.play-button-text {
  width: 75px;
  font-size: 2em;
}

.play-button-img:hover {
  filter: saturate(100%) hue-rotate(60deg) brightness(100%);
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0.5em 0;
  height: 100px;
  overflow: auto;
  font-family: monospace;
  font-size: 0.8em;
  scrollbar-width: thin;
  scrollbar-color: #447bd4 #b1b9c6;
  width: 100%;
}

.qotd {
  border-radius: 10px;
  background-color: #a5adba;
  color: #5259a0;
  font-style: italic;
  width: 100%;
  padding: 1em;
}
